/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(./../img/v1016-b-09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow: hidden; /* Fixe le body pour empêcher le défilement */
}


.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(135deg, #2b2b2b, #1e1e1e);
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    height: calc(100vh - 40px); /* Hauteur totale moins la marge */
    overflow-y: auto; /* Scroll dans le conteneur */
}
h1{
    margin: 0 0 10px;
    color: white;
}
 h2, h3, h4 {
    margin: 0 0 10px;
    color: #8979ff;
}

h2 {
    color: #5841ff;
}

.bienvenue {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Navbar */
.navbar {
    background-color: #14161834;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    border-radius: 70px;
    width: 54px;
}

.navbar-title {
    font-size: 1.5em;
    margin: 0;
    flex-grow: 1;
    align-items: center;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links img {
    border-radius: 70px;
    width: 54px;
}

.navbar-user {
    margin-right: 20px;
}

/* Form Styles */
.form-group {
    margin: 20px 0;
}

textarea {
    width: 88%;
    padding: 10px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background: linear-gradient(135deg,#5841ff,#8979ff);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0f6b3a;
}

/* Publication Styles */
.publication {
    padding: 15px;
    margin: 10px 0;
    background: linear-gradient(135deg, #1f1f1f, #2b2b2b);
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    color: #e0e0e0;
}

.actions {
    margin: 10px 0;
}

.comment {
    padding: 10px;
    background: linear-gradient(135deg, #2c2c2c, #1f1f1f);
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    margin: 10px 0;
    color: #e0e0e0;
}

.reaction-users {
    font-size: 0.9em;
    color: #b0b0b0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .navbar-title {
        font-size: 1.2em;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        margin-top: 10px;
    }

    button {
        width: 100%;
    }

    .publication, .comment {
        padding: 10px;
    }
}
